@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.body {
  margin: 0;
}

.header-container {
  width: auto;
  height: 100%;
  display: flex;
  background-color: transparent;
  align-items: center;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
}

.my-logo {
  display: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-right: auto;
  width: auto;
  height: 20px;
  margin-left: 24px;
}

.my-menu {
  width: 18px;
  height: 12px;
  right: 35px;
  top: 6px;
  padding: 15px;
  display: none;
}

.desktop-nav {
  display: none;
}

/* side menu */
.mobileNavigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #ec5242;
  mix-blend-mode: multiply;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.desktop-nav .nav-men a:hover {
  color: #ec5242;
}

.desktop-nav .nav-men a.active {
  color: #ec5242;
}

/* links */
.mobileNavigation a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  transition: 0.3s;
  line-height: 44px;
  display: flex;
  padding-left: 28px;
  padding-top: 28px;
}

/* close button */
.mobileNavigation .killnav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* landing page contet......................... */
.top-header {
  background-color: #272a31;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.top-header-items {
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.landing-page {
  background-image: url('/images/mobile-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: auto;
}

.landing-page-div {
  margin-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.homepage-h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 35px;
  background-image: url('/images/text-bg.webp');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.homepage-h2 {
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-size: 30px;
  text-decoration: none;
}

.homepage-p{
  font-family: 'Lato', sans-serif;
  background-color: #f8f4f4;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1em;
  padding: 20px;
  border: 3px solid white;
}

.homepage-h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 35px;
}

.homepage-p2 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1em;
  padding-bottom: 50px;
  margin-bottom: 0;
}

/* Program Agenda */
.agenda {
  background-color: black;
}

.agenda-ul {
  padding-left: 0;
  margin: 20px;
  height: 100%;
}

.agenda-li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  background-image: url('/images/agenda-bg.svg');
  background-size: contain;
  border: 3px solid black;
  gap: 20px;
}

.agenda-h3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  padding-top: 40px;
  margin-top: 0;
  letter-spacing: 0.125rem;
}

.agenda-h5 {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.agenda-p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: white;
  font-size: 15px;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.join-btn{
  background: #ec5242;
  color: #fff;
  padding: 15px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.125rem;
  margin-top: 5px;
  margin-bottom: 20px;
  border: #ec5242;
}

.join-text {
  display: none;
}

/* Featured Speakers */
.speakers-main {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-left: 22px;
  margin-right: 22px;
  gap: 30px;
}

.featured-speaker-h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding-top: 40px;
  margin-top: 0;
  letter-spacing: 0.1rem;
  align-content: space-around;
  align-items: center;
}

.speakers-img {
  width: 30%;
}

.speakers-name {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.speakers-qualification {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0.1rem;
  color: #ec5242;
  font-style: italic;
}

.speakers-background {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  letter-spacing: 0.1rem;
}

.button-posi {
  display: flex;
  justify-content: center;
}

.see-more-btn {
  background: white;
  padding: 15px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  letter-spacing: 0.125rem;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  width: 90%;
  gap: 10px;
}

/* Partners */
.partners {
  display: none;
}

/* home page footer */
.home-footer {
  display: none;
}

@media (min-width: 768px) {
  .my-logo {
    display: flex;
    width: 50px;
    height: 50px;
  }

  .header-container {
    background-color: white;
  }

  .desktop-nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    letter-spacing: 0.125rem;
    gap: 40px;
    margin-right: 80px;
  }

  .nav-link {
    text-decoration: none;
    color: #272a31;
  }

  .navonmo {
    display: none;
  }

  .landing-page {
    background-image: url('/images/desktop-bg.svg');
    background-size: cover;
    height: 100%;
    width: auto;
  }

  .homepage-h1 {
    font-size: 50px;
  }

  .landing-page-div {
  margin-right: 30%;
  margin-left: 10%;
  padding-top: 150px;
  }

  .agenda-ul {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    gap: 10px;
  }

  .agenda-li {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .agenda-p {
    display: flex;
    text-align: center;
  }

  .agenda-h5 {
    margin: 0;
  }

  .join-btn{ 
    display: none;
  }

  .join-text {
    display: flex;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1em;
    font-size: 12px;
    padding-top: 12px;
    justify-content: center;
    padding-bottom: 50px;
  }

  /* Speakers */
  #speakers-container {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
  }

  /* Partners */
  .partners {
    display: flex;
    background-color: #272a31;
    flex-direction: column;
    align-items: center;
  }

  .sponsor-h3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-top: 40px;
    margin-top: 0;
    letter-spacing: 0.1rem;
    align-content: space-around;
    align-items: center;
  }

  .sponsor-img {
    width: 200px;
    height: auto;
    fill: #d3d3d3;
  }

  .partners-ul {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
  }

  /* home page footer */
  .home-footer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 200px;
  }

  .footer-p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }

  .footer-logo {
    width: 200px;
    height: auto;
  }
}